
@media (min-width: 0px) {

    body {
        background-image: url('clouds.jpg');
        background-repeat: no-repeat;
        background-size: 250%;
        background-color: #1C282F;
        color: white;
    }

    header {
        margin: 5em 0 6em 0;
    }

    h1 {
        font-size: 5em;
        font-family: 'Cardo', serif;
        text-align: center;
        letter-spacing: 0.05em;
    }

    ol {
        list-style-type: none;
        padding-inline-start: 0;
    }

    li a {
        color: white;
        text-decoration: none;
    }

    li a:hover {
        text-decoration: underline;
    }

    .performances {
        margin-bottom: 2.5em;
    }

    .performances p {
       margin: 0;
    }

    .performances li {
        margin: 2em 0;
    }
    
    .performances h2 {
        text-decoration: underline;
        font-size: 1.6em;
    }

    .performances p, .performances a {
        font-size: 0.9em;
    }

    .song-title {
        font-size: 0.6em;
        margin-bottom: 0.7em;
    }

    .songs {
        font-size: 1.6em;
        margin-bottom: 2em;
    }

    .songs li {
        margin-bottom: 1.3em;
    }

    .controls {
        display: flex;
        align-items: center;
    }

    .play-pause-btn {
        margin: 0 10px;
        display: block;
    }

    .play-pause-btn svg {
        width: 13.5;
        height: 18;
    }

    .slider {
        width: 100%;
        position: relative;
        margin: 0 10px;
    }

    .progress {
        position: relative;
        height: 0.8rem;
        z-index: 2;
    }

    .slider:after {
        content: "";
        background-color: #566574;
        height: 0.8rem;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 1;
        border-radius: 0.25rem;
    }

}

@media (min-width: 767px) {

}

@media (min-width: 991px) {

}

@media (min-width: 1199px) {

}