
@media (min-width: 0px) {

    body {
        background-image: url('clouds.jpg');
        background-repeat: no-repeat;
        background-size: 250%;
        background-color: #1C282F;
        color: white;
    }

    header {
        margin: 5em 0 6em 0;
    }

    h1 {
        font-size: 5em;
        font-family: 'Cardo', serif;
        text-align: center;
        letter-spacing: 0.05em;
    }

    ol {
        list-style-type: none;
        padding-inline-start: 0;
    }

    li a {
        color: white;
        text-decoration: none;
    }

    li a:hover {
        text-decoration: underline;
    }

    .bio {
        margin-top: 5em;
    }

    .bio img {
        max-width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .bio .text {
        font-size: 1em;
        margin: 2em 1em 0 1em;
    }

    .performances {
        margin-bottom: 2.5em;
    }

    .performances p {
       margin: 0;
    }

    .performances li {
        margin: 2em 0;
    }
    
    .performances h2 {
        text-decoration: underline;
        font-size: 1.6em;
    }

    .performances p, .performances a {
        font-size: 0.9em;
    }

    .song-title {
        font-size: 0.6em;
        margin-bottom: 0.7em;
    }

    .songs {
        font-size: 1.6em;
        margin-bottom: 2em;
    }

    .songs li {
        margin-bottom: 1.3em;
    }

    .songs ol {
        display: block;
    }

    audio {
        width: 100%;
    }

}

@media (min-width: 767px) {

    body {
        background-size: 150%;
    }

    h1 {
        font-size: 7em;
    }

    .bio img {
        max-width: 70%;
    }

    .bio .text {
        font-size: 1.1em;
    }

    .song-title {
        font-size: 1em;
    }

    .performances {
        font-size: 1.3em;
    }

}

@media (min-width: 991px) {

    .bio img {
        max-width: 80%;
    }

    .bio .text {
        font-size: 1.2em;
    }

}

@media (min-width: 1199px) {

    body {
        background-size: 100%;
    }

    h1 {
        font-size: 7em;
    }

    .bio {
        margin-top: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bio .image {
        flex-basis: 200%;
    }

    .bio img {
        max-width: 100%
    }

    .bio .text {
        font-size: 1.4em;
        padding-left: 1em;
        margin: 0;
    }

    main {
        clear: both;
    }

}