{% load static %}

<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'music/styles.css' %}" >

    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />

    <title>{{ site_title }}</title>
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div class="col offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-2 col-lg-8">

            <header>
                <h1>{{ site_title }}</h1>
                <!--<h2>{{ about_me }}</h2>-->
            </header>

            <main>

                <div class="songs">

                    <ol>
                        {% for song in songs_to_display %}
                            <li>
                                <p>{{ song.title }}</p>
                                <audio controls controlsList="nodownload">
                                    <source src="{{ song.song_file.url }}" type="audio/mp3">
                                </audio>
                            </li>
                        {% endfor %}
                    </ol>

                </div>

                <div class="performances">

                    <ol>
                        {% for performance in performances_to_display %}
                        <li>
                            <h2><a href="{{ performance.external_link }}" target="_blank" >{{ performance.venue_name }}</a></h2>
                            <p class="start-time">{{ performance.start_time|date:'l jS F Y'}}</p>
                            <a href="{{ performance.google_maps_url }}" target="_blank">{{ performance.venue_address }}</a>
                        </li>
                        {% endfor %}
                    </ol>

                </div>

            </main>

        </div>
    </div>
</div>

</body>

</html>
